<div class="tech-background">
    <div class="text-center">
        <div class="padder-v">
            <div class="m-t-xxl m-b-xxl">
                <h1 class="font-bold l-h-1x m-t-xxl text-black "
                    jhiTranslate="home.motto">
                    Don’t let your dreams RUN away
                </h1>
                <h3 class="text-muted m-t-xl l-h-1x" jhiTranslate="home.subtitle">Wellness and educational platform for
                    amateurs and professionals
                </h3>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="padder-v">
            <div class=""><p class=" m-b-xxl wrapper">
                <a href=""
                   target="_blank"
                   class="btn b-2x btn-lg b-black btn-default btn-rounded text-lg font-bold m-b-xxl animated fadeInUpBig"
                   jhiTranslate="home.question">What is Athletic ?</a>
            </p>
            </div>
        </div>
    </div>
    <div id="what" class="padder-v ">
        <div class="container m-b-xxl">
            <div class="row no-gutter">
                <div class="col-md-3 col-sm-6">
                    <div class="bg-light m-r-n-md no-m-xs no-m-sm">
                        <a href="../angular" class="wrapper-xl block">
                            <span class="h3 m-t-sm text-black" jhiTranslate="home.integration.title">Integracja</span>
                            <span class="block m-b-md m-t" jhiTranslate="home.integration.details">Connect your favourite sport apps on a single platform. It will help you to manage a tailored training plan, progres and all other activities in the most effective and while still using your favourite apps like Strava, MapMyfitness or Endomondo and many more. </span>
                            <i class="icon-arrow-right text-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bg-black dker m-t-xl m-l-n-md m-r-n-md text-white no-m-xs no-m-sm">
                        <a href="../html" class="wrapper-xl block">
                            <span class="h3 m-t-sm text-white" jhiTranslate="home.features.title">Features</span>
                            <span class="block m-b-md m-t" jhiTranslate="home.features.details">Get access to a wide knowledge base for trainings, diet and  goals planning.  Keep track of your progress in an innovative way thanks to a real-time & self-learning monitoring module. Scheduling an appointment with a dietitian, physiotherapist or training coach has never been that easy !</span>
                            <i class="icon-arrow-right text-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bg-light dker m-t-n m-l-n-md m-r-n-md no-m-xs no-m-sm">
                        <a href="../angular/#music/home" class="wrapper-xl block">
                            <span class="h4 m-t-sm text-black" jhiTranslate="home.fun.title">Fun</span>
                            <span class="block m-b-md m-t" jhiTranslate="home.fun.details">Have all the fun activities, benefits, programs, tools and events your organization offers in one place. AthleticSpot(R)  is single and personalized user platform that makes it easy to market relevant programs, corporate challenges and benefits more efficiently, and allows your employees to be creative.</span>
                            <i class="icon-arrow-right text-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="bg-white dker m-t m-l-n-md m-r-n-md no-m-xs no-m-sm">
                        <a href="../angular/material.html" class="wrapper-xl block">
                            <span class="h3 m-t-sm text-black" jhiTranslate="home.benefits.title">Benefits</span>
                            <span class="block m-b-md m-t" jhiTranslate="home.fun.details">Provide your employees with a transparent rewarding program that enables to plan their goals and benefits, making it all even more attractive and fun !</span>
                            <i class="icon-arrow-right text-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="why" class="bg-light">
    <div class="container">

        <div class="row m-t-xl m-b-xl text-center">
            <div class="col-sm-3" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                    <i class="fa w-1x fa-google"></i>
                </p>
                <div class="m-b-xl">
                    <h4 class="m-t-none" jhiTranslate="home.goals.title">Goals and challenges</h4>
                    <p class="text-muted m-t-lg" jhiTranslate="home.goals.details">Submit for a race or any other wellness challenge, while our interactive coach will ensure you are well prepared, through a balanced training program and diet. </p>
                </div>
            </div>
            <div class="col-sm-3" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                    <i class="fa w-1x fa-gears"></i>
                </p>
                <div class="m-b-xl">
                    <h4 class="m-t-none" jhiTranslate="home.platform.title">All-in-one wellness platform</h4>
                    <p class="text-muted m-t-lg" jhiTranslate="home.platform.details">AthleticSpot(R) integrate your data from various sport/wellness apps at one place, allowing you a better management of your training results, and goals planning.</p>
                </div>
            </div>
            <div class="col-sm-3" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                    <i class="fa w-1x fa-clock-o"></i>
                </p>
                <div class="m-b-xl">
                    <h4 class="m-t-none" jhiTranslate="home.community.title">Community</h4>
                    <p class="text-muted m-t-lg" jhiTranslate="home.community.details">Build a wellness community inside your firm</p>
                </div>
            </div>
            <div class="col-sm-3" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
                <p class="h3 m-b-xl inline b b-dark rounded wrapper-lg">
                    <i class="fa w-1x fa-clock-o"></i>
                </p>
                <div class="m-b-xl">
                    <h4 class="m-t-none" jhiTranslate="home.planner.title">Meeting planner</h4>
                    <p class="text-muted m-t-lg" jhiTranslate="home.planner.details">Schedule an appointment with a doctor, trainer, physiotherapist or dietist.  Online, or stationary.</p>
                </div>
            </div>
        </div>
    </div>
</div>
