<!--Search friends-->
<div class="tech-background">
    <div class="container padder-v">
        <p class="m-n font-thin h1" jhiTranslate="friends.search">Search friends</p>
        <form novalidate [formGroup]="searchFriendsForm" class="form-horizontal" (submit)="searchFriends()">
            <div class="form-group row m-t-sm">
                <div class="col-sm-3">
                    <input formControlName="name" type="text" class="form-control">
                </div>
                <button class="btn btn-primary" jhiTranslate="friends.form.button">Search</button>
            </div>
        </form>

        <div class="row">
            <article class="form-group col-sm-12 m-t-md">
                <table class="table table-striped m-b-md">
                    <thead>
                    <tr>
                        <th jhiTranslate="friends.table.athlete">Athlete</th>
                        <th jhiTranslate="friends.table.action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let friend of friends">
                        <td><span>{{friend.name}}</span></td>
                        <td><span><button class="m-l-xs btn btn-success" (click)="follow(friend.id)" >Follow</button></span></td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</div>
